.display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    background-color: #fdfdfd;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0 0 2px 1px #b3b3b3;
}

.display:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 1px #fe8402;
}

.avatar img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.avatar {
    text-align: center;
}

.display__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right__arrow {
    background: transparent;
    color: rgb(31, 30, 30);
}

.right__arrow:hover {
    color: #fe8402;
}